<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.telegram-review-uploader</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/python3</string>
        <string>REPO_ROOT_PLACEHOLDER/.repo-tools/scripts/telegram_uploader.py</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>11</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>REPO_ROOT_PLACEHOLDER/.repo-tools/logs/telegram_uploader.log</string>

    <key>StandardErrorPath</key>
    <string>REPO_ROOT_PLACEHOLDER/.repo-tools/logs/telegram_uploader_error.log</string>

    <key>RunAtLoad</key>
    <false/>

    <key>WorkingDirectory</key>
    <string>REPO_ROOT_PLACEHOLDER</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
